body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  background-color: rgb(219, 236, 251);
}

* {
  font-family: Poppins;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

#first {
  display: flex;
  flex-direction: column;
}

#firstHero {
  margin:auto auto;
}

.coverMessage {
  display: none;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 50vh;
  background-color: rgba(0, 0, 0, 0.9);
  color:white;
}

.coverMessage > a {
  color:white
}

@media (max-width: 900px) {
  .coverMessage {
    display: block;
  }
}