body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  background-color: rgb(219, 236, 251);
}

* {
  font-family: Poppins;
}
html {
    scroll-snap-type: y mandatory;
}
section {
  scroll-snap-align: start;
}